/* *General Styles*/

:root {
    --title: 3.4rem;
    --subtitle: 2.8rem;
    --sub-subtitle: 2.2rem;
    --text: 1.8rem;
    --text-small: 1.6rem;
}

.form {
    gap: 32px;
}


/* *Site Wide  */

.footer__social-media-icons,
.footer__contact-us-item,
.footer__privacy-container,
.footer__help-container {
    min-width: 0;
}



/* *Home Page  */

/*Carousel of Images*/
.slider {
    aspect-ratio: 8 / 4;
}

/*Section:Why us?*/
.why-us-section__card {
    height: 250px;
}

/*Section:Our Destinations*/
.section-our-destinations__item {
    max-width: 450px;
}


/* *About Page */
.who-are-we-section {
    gap: 0;
}
.who-are-we-section__hero {
    align-self: stretch;
    max-width: 50%;
    max-height: none;
    order: 2;
}
.who-are-we-section__container {
    padding: 64px 0;
    max-width: 50%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}
.who-are-we-section__info {
    gap: 32px;
    max-width: 750px;
}


/* *Contact Page */
.contact {
    padding-bottom: 0;
    gap: 0;
}
.contact__hero {
    align-self: stretch;
    width: 50%;
    max-height: none;
}
.contact__form-container {
    padding: 64px 16px;
    width: 50%;
}