/* *General Styles*/

:root {
    --title: 3.4rem;
    --subtitle: 2.8rem;
    --sub-subtitle: 2.2rem;
    --text: 1.8rem;
    --text-small: 1.6rem;
}



/* *Site Wide  */

.footer__social-media-icons,
.footer__contact-us-item,
.footer__privacy-container,
.footer__help-container {
    min-width: 0;
}



/* *Home Page  */

/*Carousel of Images*/
.slider {
    aspect-ratio: 8 / 4;
}

/*Section:Why us?*/
.why-us-section__card {
    height: 250px;
}

/*Section:Our Destinations*/
.section-our-destinations__item {
    max-width: 450px;
}