/* * General Styles */


:root {
    --title: 3rem;
    --subtitle: 2.4rem;
    --sub-subtitle: 1.8rem;
    --text: 1.6rem;
    --text-small: 1.4rem;
    --navbar: #F0E0BB;
    --tan: #E7D3B2;
    --mustard-yellow: #FFE681;
    --footer: #994D21;
    --gray-bold: #414141;
    --gray-medium: #8C8C8C;
    --gray-light: #CCCCCC;
    --gray-extralight: #ECECEC;
    --background-gradient: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

html {
    box-sizing: border-box;
    font-family:'Inter';
    font-size: 62.5%;   
}
body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
p,
h1,
h2,
h3,
h4 {
    margin: 0;
}



/* * Utilities */

.title {
    font-size: var(--title);
}
.subtitle {
    font-size: var(--subtitle);
}
.sub-subtitle {
    font-size: var(--sub-subtitle);
}
.text {
    font-size: var(--text);
    font-weight: 500;
}
.text--weight-bold {
    font-weight: 700;
}
.text--weight-regular {
    font-weight: 400;
}
.text--size-small {
    font-size: var(--text-small);
    font-weight: 400;
}
.text--line-height-high {
    line-height: 25px;
}

.container {
    display: flex;
    padding: 16px;
    flex-wrap: wrap;
}
.container--direction-column {
    flex-direction: column;
}
.container--padding-left-smaller {
    padding-left: 0;
}
.container--display-none {
    display: none;
}
.container--type-card {
    align-items: center;
    justify-content: center;
    gap: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
}

.hidden {
    display: none;
}

.shadow {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}
.shadow--size-full {
    top: 100px;
    height: calc(100vh - 100px);
}
.shadow--size-partial {
    height: 100%;
}

.icon {
    width: 24px;
    color: var(--mustard-yellow);
}
.icon--size-big {
    width: 35px;
}


/* * Site Wide */
/* 
* 1. Positioning: Static, Absolute, Relative, Fixed
* 2. Box Model: Margin, Padding, Border, Content, Display
* 3. Typography: Font-weight, Font-size, Font-display
* 4. Visuals: Box-shadow, Border-radius, Gradient
* 5. Otros
*/

.footer {
    background-color: var(--footer);
    color: var(--gray-extralight);
}
.footer__container-info {
    margin: 0 auto;
    padding: 16px 0;
    max-width: 1500px;
    justify-content: space-evenly;
}
.footer__social-media-icons {
    padding: 16px 0 0;
    min-width: 240px;
    gap: 24px;
}
.footer__contact-us-item {
    padding: 16px 0 0;
    min-width: 240px;
    align-items: center;
    gap: 8px;
}
.footer__privacy-container {
    min-width: 240px;
    gap: 16px;
}
.footer__privacy-link-list {
    gap: 16px;
    padding: 0;
}
.footer__help-container {
    min-width: 240px;
    gap: 16px;
}
.footer__copyright {
    margin: 0 auto;
    padding: 16px;
    width: fit-content;
    color: var(--gray-light);
}

.header {
    background-color: var(--navbar);
}
.header__navbar {
    position: relative;
    margin: 0 auto;
    max-width: 1500px;
    justify-content: space-between;
    align-items: center;
}
.header__navbar-list {
    display: none;
}
.header__navbar-item {
    display: block;
    padding: 16px;
}
.header__navbar-item:hover {
    border-radius: 5px;
    background-color: var(--gray-bold);
    color: var(--gray-extralight);
}
.header__menu {
    z-index: 1;
    position: absolute;
    top: 100px;
    right: 0;
    width: 80%;
    height: calc(100vh - 100px);
    border-top: 1px solid rgba(0,0,0,0.1);
    background-color: var(--navbar);
}
.header__menu-list {
    margin-top: 100px;
}
.header__menu-item {
    display: block;
    padding: 16px;
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
}
.header__menu-item:focus {
    background-color: var(--tan);
}


/* *Home Page */

/*Carousel of Images*/
.slider {
    position: relative;
    max-width: 1500px;
    min-height: 240px;
    margin: 0 auto;
    overflow: hidden;
}
.slider__box {
    display: flex;
    width: 600%;
    height: inherit;
    animation: slide 30s infinite alternate ease-in-out;
}
.slider__item {
    width: 100%;
    height: inherit;
}
.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@keyframes slide {
    0% { margin-left: 0%; }
    15% { margin-left: 0%; }

    17% { margin-left: -100%; }
    32% { margin-left: -100%; }
    
    34% { margin-left: -200%; }
    49% { margin-left: -200%; }
    
    51% { margin-left: -300%; }
    66% { margin-left: -300%; }
    
    68% { margin-left: -400%; }
    83% { margin-left: -400%; }
    
    85% { margin-left: -500%; }
    100% { margin-left: -500%; }
}

/* Section: Why us?*/
.why-us-section {
    margin: 64px 0;
    text-align: center;
}
.why-us-section__cards-container {
    margin-top: 32px;
    justify-content: center;
    gap: 32px;
}
.why-us-section__card {
    max-width: 300px;
    height: 200px;
}

/*Section: Destinations*/
.section-our-destinations {
    padding: 64px 0;
    text-align: center;
    background-color: var(--tan);
}
.section-our-destinations__items-container {
    margin-top: 32px;
    gap: 32px;
    justify-content: center;
}
.section-our-destinations__item {
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    align-content: center;
    aspect-ratio: 4 / 3;
    color: white;
    background-image: var(--background-gradient), url(../assets/images/ballestas-islands/candelabro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section-our-destinations__item:nth-child(2) {
    background-image: var(--background-gradient), url(../assets/images/huacachina/panoramic.png);
}
.section-our-destinations__item:nth-child(3) {
    background-image: var(--background-gradient), url(../assets/images/nazca-lines/monkey.png);
}
.section-our-destinations__button {
    position: static;
    display: flex;
    min-height: 60px;
    height: 20%;
    align-items: center;
    justify-content: center;
}
.section-our-destinations__item-title  {
    font-size: var(--subtitle);
}


/* *About Page */

/*Section: Who are we?*/
.who-are-we-section {
    padding: 0;
    gap: 32px;
    align-items: center;
}
.who-are-we-section__container {
    padding: 0;
    gap: 32px;
}
.who-are-we-section__hero {
    width: 100%;
    max-height: 600px;
    aspect-ratio: 1;
    background-image: var(--background-gradient), url(../assets/images/hero-about.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}
.who-are-we-section__info {
    display: flex;
    gap: 16px;
}
.who-are-we-section__title {
    width: 100%;
    text-align: center;
}
.who-are-we-section__cards-container {
    width: 100%;
    justify-content: center;
    gap: 32px;
}
.who-are-we-section__card {
    flex-basis: 256px;
    flex-grow: 1;
    max-width: 320px;
    height: 300px;
}

/*Section: Our Values*/

/*Section: Why us?*/