/* * General Styles */


:root {
    --navbar: #F0E0BB;
    --tan: #E7D3B2;
    --mustard-yellow: #FFE681;
    --footer: #994D21;
    --gray-bold: #414141;
    --gray-medium: #8C8C8C;
    --gray-light: #CCCCCC;
    --gray-extralight: #ECECEC;
}

html {
    box-sizing: border-box;
    font-family:'Inter';
    font-size: 62.5%;   
}
body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
p,
h1,
h2,
h3,
h4 {
    margin: 0;
}



/* * Utilities */

.title {
    font-size: 3rem;
}
.subtitle {
    font-size: 2.4rem;
}
.sub-subtitle {
    font-size: 1.8rem;
}
.text {
    font-size: 1.4rem;
    font-weight: 500;
}
.text--weight-bold {
    font-weight: 700;
}
.text--weight-regular {
    font-weight: 400;
}
.text--size-small {
    font-size: 1.2rem;
    font-weight: 400;
}
.container {
    display: flex;
    padding: 16px;
    flex-wrap: wrap;
}
.container--direction-column {
    flex-direction: column;
}
.container--padding-left-smaller {
    padding-left: 0;
}
.container--display-none {
    display: none;
}
.hidden {
    display: none;
}
.shadow {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}
.shadow--full {
    top: 100px;
    height: calc(100vh - 100px);
}
.shadow--partial {
    height: 100%;
}


/* * Site Wide */
/* 
* 1. Positioning: Static, Absolute, Relative, Fixed
* 2. Box Model: Margin, Padding, Border, Content, Display
* 3. Typography: Font-weight, Font-size, Font-display
* 4. Visuals: Box-shadow, Border-radius, Gradient
* 5. Otros
*/

.footer {
    background-color: var(--footer);
    color: var(--gray-extralight);
}
.footer__container-info {
    margin: 0 auto;
    padding: 16px 0;
    max-width: 1500px;
    justify-content: space-evenly;
}
.footer__social-media-icons {
    padding: 16px 0 0;
    min-width: 240px;
    gap: 24px;
}
.footer__contact-us-item {
    padding: 16px 0 0;
    min-width: 240px;
    align-items: center;
    gap: 8px;
}
.footer__privacy-container {
    min-width: 240px;
    gap: 16px;
}
.footer__privacy-link-list {
    gap: 16px;
    padding: 0;
}
.footer__help-container {
    min-width: 240px;
    gap: 16px;
}
.footer__copyright {
    margin: 0 auto;
    padding: 16px;
    width: fit-content;
    color: var(--gray-light);
}

.header {
    background-color: var(--navbar);
}
.header__navbar {
    position: relative;
    margin: 0 auto;
    max-width: 1500px;
    justify-content: space-between;
    align-items: center;
}
.header__navbar-list {
    display: none;
}
.header__navbar-item {
    display: block;
    padding: 16px;
}
.header__navbar-item:hover {
    border-radius: 5px;
    background-color: var(--gray-bold);
    color: var(--gray-extralight);
}
.header__menu {
    z-index: 1;
    position: absolute;
    top: 100px;
    right: 0;
    width: 80%;
    height: calc(100vh - 100px);
    border-top: 1px solid rgba(0,0,0,0.1);
    background-color: var(--navbar);
}
.header__menu-list {
    margin-top: 100px;
}
.header__menu-item {
    display: block;
    padding: 16px;
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
}
.header__menu-item:focus {
    background-color: var(--tan);
}


/* *Home Page */

/*Carousel of Images*/
.slider {
    position: relative;
    max-width: 1500px;
    min-height: 240px;
    margin: 0 auto;
    overflow: hidden;
}
.slider__box {
    display: flex;
    width: 600%;
    height: inherit;
    animation: slide 30s infinite alternate ease-in-out;
}
.slider__item {
    width: 100%;
    height: inherit;
}
.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@keyframes slide {
    0% { margin-left: 0%; }
    15% { margin-left: 0%; }

    17% { margin-left: -100%; }
    32% { margin-left: -100%; }
    
    34% { margin-left: -200%; }
    49% { margin-left: -200%; }
    
    51% { margin-left: -300%; }
    66% { margin-left: -300%; }
    
    68% { margin-left: -400%; }
    83% { margin-left: -400%; }
    
    85% { margin-left: -500%; }
    100% { margin-left: -500%; }
}
